h1 {
    color: red
    ;
    text-align: center;font-style:italic;
  }
  h3 {color:navy ; text-align: center; font-style:italic}
  h2 {
    color: navy;
    text-align: center; font-style:italic;
  }
  p {color :navy; text-align: center; font-style: italic; font-size: larger }