h1 {
    color: black
    ;
    text-align: center; font-family:'Covered By Your Grace', cursive;font-size:xx-large
  }
  h3 {color:navy ; text-align: center; font-family:'Covered By Your Grace', cursive;font-size:xx-large}
  h2 {
    color:black;
    text-align: center; font-family: 'Covered By Your Grace', cursive;font-size:xx-large
  }
  h4{color:navy; text-align: center; font-family: 'Covered By Your Grace', cursive;font-size: xx-large}
  p {color :navy; text-align: center; font-family: 'Covered By Your Grace', cursive; font-size: x-large }
  li{color: navy;text-align: center;font-family: 'Covered By Your Grace', cursive;font-size: x-large}
  ul{text-align: justify; list-style-position: inside}
  img{
    display: block;
    margin: 0 auto;
}
 h5{color:navy; text-align: center; font-family: 'Covered By Your Grace', cursive;font-size: xx-large}
 body {background-image: url(https://wallpapercave.com/wp/wp2496547.jpg)}
 h6 {color:navy ; text-align: center; font-family:'Covered By Your Grace', cursive;font-size:xx-large}